body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{ font-family: 'NeueMontreal';
  src: local('NeueMontreal-Regular'), url(./fonts/NeueMontreal-Regular.otf) format('opentype');}

  @font-face{ font-family: 'Stellar';
    src: local('Stellar-Regular'), url(./fonts/Stellar-Regular.otf) format('opentype');}
  @font-face{ font-family: 'AgrandirItalic';
     src: local('Agrandir-WideBlackItalic'), url(./fonts/Agrandir-WideBlackItalic.otf) format('opentype');}
     @font-face{ font-family: 'Agrandir';
      src: local('Agrandir-TightBlack'), url(./fonts/Agrandir-TightBlack.otf) format('opentype');}
      @font-face{ font-family: 'Grafier';
        src: local('Grafier-Black'), url(./fonts/Grafier-Black.otf) format('opentype');}
        @font-face{ font-family: 'GrafierDisplay';
          src: local('Grafier-BlackDisplay'), url(./fonts/Grafier-BlackDisplay.otf) format('opentype');}